<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Stormpath.Configuration Prerelease Feed" value="https://www.myget.org/F/stormpath-dotnet-config/api/v3/index.json" />
    <add key="Stormpath.SDK Prerelease Feed" value="https://www.myget.org/F/stormpath-sdk/api/v3/index.json" />
	<add key="Stormpath.Owin Prerelease Feed" value="https://www.myget.org/F/stormpath-owin/api/v3/index.json" />
  </packageSources>
</configuration>