@model Stormpath.Owin.Abstractions.ViewModel.LoginFormViewModel
@using Stormpath.Owin.Abstractions

<form method="post" role="form">
    <input name="@StringConstants.StateTokenName" type="hidden" value="@Model.StateToken" />
    <input type="text" name="login" />
    <input type="password" name="password" />
    <div>
        <button type="submit">Log in</button>
    </div>
</form>